* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BGCOLOR: hsl(180, 30%, 95%);
  --COLOR: hsl(180, 100%, 98%);
  --FFamily: "Times New Roman", Times, serif;
  /* for hamburger menu */
  --BAR-WIDTH: 60px;
  --BAR-HEIGHT: 8px;
  --HAMBURGER-GAP: 6px;
  --FOREGROUND: hsl(0, 0%, 0%);
  --BACKGROUND: hsl(0, 0%, 100%);
  --HAMBURGER-MARGIN: 5px;
  --ANIMATION-TIMING: 200ms ease-in-out;
  --HAMBURGER-HEIGHT: calc(var(--BAR-HEIGHT) * 3+var(--HAMBURGER-GAP) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--HAMBURGER-HEIGHT) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--HAMBURGER-GAP);
  width: max-content; /* To only give color to maximum content of the block */
  /*  background-color: lightblue;*/
  position: absolute;
  top: var(--HAMBURGER-MARGIN);
  left: var(--HAMBURGER-MARGIN);
  z-index: 2;
  cursor: pointer;
}
.hamburger-menu ::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--BAR-WIDTH);
  height: var(--BAR-HEIGHT);
  background-color: var(--FOREGROUND);
  border-radius: 9999px;
  transition: opacity var(--ANIMATION-TIMING), width var(--ANIMATION-TIMING);
  transform-origin: left center;
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--BAR-HEIGHT) / 2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
}

.hamburger-menu input :checked {
  opacity: 0;
  width: 0;
  /*  I don't understand how it is checking whenever we clicked on that area, video 8.49 */
}

.menu {
  font-size: large;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--COLOR);
  margin: auto;
  display: flex;
  justify-content: end;
  font-family: var(--FFamily);
}

.menu ul {
  list-style: none;
}

.menu li {
  display: inline-block;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.article-menu {
  font-size: large;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--COLOR);
  margin: auto;
  display: flex;
  justify-content: start;
  font-family: var(--FFamily);
}

.article-menu ul {
  list-style: none;
}

.article-menu li {
  display: inline-block;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

button {
  border-radius: 5px;
  background-color: hsl(150, 100%, 90%);
  border-color: hsl(208, 100%, 97%);
}

.introduction {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--COLOR);
  padding: 25%;
  display: inline-grid;
}
