/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(195, 53%, 98%);
}

:root {
  --BGCOLOR: hsl(180, 30%, 95%);
  --COLOR: hsl(180, 100%, 98%);
  --FFamily: "Times New Roman", Times, serif;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.content-table {
  border-collapse: collapse; /*It is a popular css table property to reduce the space between cells*/
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px hsl(195, 53%, 90%);
}

.content-table thead tr {
  background-color: hsl(208, 100%, 97%);
  color: black;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid lightblue;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: hsl(195, 53%, 95%);
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid lightblue;
}

.content-table tbody tr .menu {
  font-size: large;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--COLOR);
  margin: auto;
  display: flex;
  justify-content: end;
  font-family: var(--FFamily);
}

.menu ul {
  list-style: none;
}

.menu li {
  display: inline-block;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

button {
  border-radius: 5px;
  background-color: hsl(195, 53%, 85%);
  border-color: hsl(208, 100%, 97%);
}
