.article-menu {
  max-width: var(--content-container-max-width);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
}

@media (min-width: 600px) {
  .article-menu {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 900px) {
  .article-menu {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.article-menu a {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 32px 24px;
  padding: 16px 24px;
  color: #ffffff;
  background-color: #831843;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.article-menu a:hover {
  background-color: #f4f4f5;
}
