.contact-layout {
  display: grid;
}

@media (min-width: 600px) {
  .contact-layout {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    .contact-me {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: 900px) {
  .contact-layout {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.get-in-touch {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

div name {
  width: 100%;
}

.submit {
  width: 100%;
  display: block;
  border-radius: 4px;
}
