.intro-layout {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 40px 0px;
}

.intro-layout p {
  /* text-wrap: balance; */
  text-align: justify;
  text-justify: auto;
}

.name {
  font-size: 2rem;
}

.description-mobile {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description-desktop {
  display: none;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 28px;
}

@media (min-width: 700px) {
  .description-mobile {
    display: none;
  }

  .description-desktop {
    display: grid;
  }
}

.avatar {
  width: 500px;
}

.intro-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
}

.intro-buttons a {
  border-radius: 6px;
  padding: 8px 0px;
  text-align: center;
}

@media (min-width: 700px) {
  .intro-buttons {
    flex-direction: row;
  }

  .intro-buttons a {
    padding: 8px 16px;
  }
}

.intro-buttons a:hover {
  text-decoration: none;
}

.view-work {
  color: white;
  background-color: #831843;
}

.view-work:hover {
  color: white;
  background-color: #be185d;
}

.contact {
  border: 1px solid #374151;
  color: black;
}

.contact:hover {
  color: black;
  background-color: #e5e7eb;
}

.description-desktop-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
}

@media (min-width: 600px) {
  .skills {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 900px) {
  .skills {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 24px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 8px;
}

.card:hover {
  background-color: #f4f4f5;
}

.card div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 2rem;
  font-weight: 600;
}

.skills-title {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

.social-net-pages {
  display: flex;
  gap: 16px;
}
