.article-image {
  width: 250px;
}

.learning-git {
  max-width: var(--content-container-max-width);
  margin: auto;
}

.learning-git ol,
ul,
p,
h2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
