.mainMenu {
  height: var(--header-height);
  display: flex;
  gap: 18px;
  justify-content: end;
  max-width: var(--content-container-max-width);
  margin: auto;
  text-decoration: underline;
}

.mainMenu a:hover {
  color: hsl(240, 5%, 70%);
}
