.layout {
  padding: var(--layout-padding-top) 18px 0px 18px;
}

.title {
  background-color: #831843;
  color: white;
  border-radius: 8px 16px;
  max-width: var(--content-container-max-width);
  margin: 0 auto;
  margin-bottom: 16px;
  /* margin-top: 0; */
}

.page-content {
  min-height: calc(
    100svh -
      (var(--footer-height) + var(--header-height) + var(--layout-padding-top))
  );
  padding-top: 16px;
}

.footer {
  height: var(--footer-height);
  padding: 20px;
  margin-top: 24px;
  margin-left: -18px;
  margin-right: -18px;
  background-color: hsl(240 5.9% 10%);
  color: white;
}

.footer a {
  background-color: hsl(240 5.9% 10%);
  color: white;
}

.footer p {
  max-width: 100%;
  text-align: center;
  line-height: 2;
}

.footer-social-network-info {
  padding: 10px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
