.puzzle-container {
  max-width: var(--content-container-max-width);
  margin: 0 auto;
}

.board {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.tile {
  display: grid;
  place-items: center;
  list-style: none;
  font-size: 1.25rem;
  background: #ec6f66;
}
