.puzzle-container {
  max-width: var(--content-container-max-width);
  margin: 0 auto;
}

.container {
  width: fit-content;
  margin: 0 auto;
}

.controls {
  margin: 0 auto;
  width: fit-content;
}

.size-controls {
  display: flex;
  gap: 8px;
}

.board {
  position: relative;
}

.tile {
  display: grid;
  place-items: center;
  list-style: none;
  font-size: 1.25rem;
  background: #ec6f66;
}
