.puzzle-container {
  max-width: var(--content-container-max-width);
  margin: 0 auto;
}

.container {
  width: fit-content;
  margin: 0 auto;
}

.board {
  width: fit-content;
  display: grid;
}

.tile {
  display: grid;
  place-items: center;
  list-style: none;
  font-size: 1.25rem;
  background: #ec6f66;
  height: 96px;
  width: 96px;
}
