.sidebar {
  padding: 0.5rem 1rem;
  max-width: 10rem;
  min-height: 100svh;
}

.introduction {
  color: hsl(195, 53%, 55%);
  background-color: hsl(195, 53%, 85%);
  position: fixed;
  top: 0;
  left: 10%;
  font-size: larger;
  display: flex;
  min-width: 400px;
  align-items: center;
  justify-content: center;
  background-color: var(--COLOR);
  padding: 25%;
  display: inline-grid;
}
