*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --content-container-max-width: 1000px;
  --header-height: 25px;
  --footer-height: 180px;
  --layout-padding-top: 10px;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: #111827;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
p {
  margin: 0;
}

p {
  max-width: 90ch;
}

img {
  max-width: 100%;
  height: auto;
}

.width-container {
  max-width: var(--content-container-max-width);
  margin: 0 auto;
}

.article {
  p {
    margin-top: 16px;
    text-align: justify;
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    background-color: white;
    margin-top: 24px;
    margin-bottom: 0;
  }
  img {
    margin-top: 16px;
  }
  li h4 {
    margin-top: 0;
  }
}
