:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #111827;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

h2,
p {
  margin: 0;
}

p {
  max-width: 65ch;
}

img {
  max-width: 100%;
}

.width-container {
  max-width: 1000px;
  margin: auto;
}
