:root {
  --link-color-when-point: hsl(204, 74%, 66%);
  --link-background-when-point: hsl(196, 61%, 83%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.columns {
  column-count: 4;
  column-width: 250px;
}

html {
  font-size: 100%;
}

body {
  padding: 30px 40px;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  background-color: hsl(209, 71%, 90%);
  color: rgb(1, 1, 56);
}
