/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --BGCOLOR: hsl(180, 30%, 95%);
  --COLOR: hsl(180, 100%, 98%);
  --FFamily: "Times New Roman", Times, serif;
}

/* for hamburger menu */
:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: hsl(180, 90%, 89%);
  --background: hsl(180, 100%, 98%);
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.content-table {
  border-collapse: collapse; /*It is a popular css table property to reduce the space between cells*/
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  min-width: 400px;
}

.content-table thead tr {
  background-color: hsl(180, 90%, 89%);
  color: black;
  text-align: left;
}

.menu {
  font-size: large;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--COLOR);
  margin: auto;
  display: flex;
  justify-content: end;
  font-family: var(--FFamily);
}

.menu ul {
  list-style: none;
}

.menu li {
  display: inline-block;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.article-menu {
  font-size: large;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--COLOR);
  margin: auto;
  display: flex;
  justify-content: start;
  font-family: var(--FFamily);
}

.article-menu ul {
  list-style: none;
}

.article-menu li {
  display: inline-block;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

button {
  border-radius: 5px;
  background-color: hsl(150, 100%, 90%);
  border-color: hsl(208, 100%, 97%);
}

.introduction {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--COLOR);
  padding: 25%;
  display: inline-grid;
}
